.subtitle {
    align-self: center;
    margin:0px 25px 0px 0px!important;
}

.menu {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.resizing-horizontal{
    cursor: ew-resize;
}

.resizing-vertical{
    cursor: ns-resize;
}

.drop-index{
    background-color: rgb(16, 148, 224);
    width: 3px;
    height: 50%;
    align-self: center;
}

.highlightable:hover, .row:active {
    background-color: rgb(249, 249, 249);
}

.menu-highlightable:hover > .menu, .row-content:active > .border, .highlightable:hover >.row-content> .border {
    visibility: visible;
}

.border {
    height: 16px;
    visibility: hidden;
    cursor: ns-resize;
    align-self: center;
}

app-cell, .row{
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.row{
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}

.row-content{
    display: flex;
    flex-direction: column;
}