<div class="dashboard-container">
  <nav *ngIf="dashboard" class="navbar">
    <div class="container">
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class = "navbar-item">
            <label class="switch is-rounded">
              <input type="checkbox" [checked]="dashboard.isLayoutMode" (change)="dashboard.isLayoutMode = !dashboard.isLayoutMode">
              <span class="check is-info"></span>
              <span class="control-label">Layout Mode</span>
            </label>
          </div>
        </div>
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button" (click)="onSave()">
              <span class="icon">
                <i class="fa-solid fa-floppy-disk"></i>
              </span>
              <span>Save</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
<app-layout *ngIf="dashboard" class="dashboard" [layout]="dashboard.layout" [dashboard]="dashboard"></app-layout>
</div>



