<nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        
        <span class="navbar-burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button" (click)="onSave()">
              <span class="icon">
                <i class="fa-solid fa-floppy-disk"></i>
              </span>
              <span>Save</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
<app-layout *ngIf="dashboard" class="container is-fluid dashboard" [layout]="dashboard.layout"></app-layout>


