<div [ngClass]="{higlightable: isHighlightable(),
    'grabbable': parent.parent.draggingRowIndex === undefined && parent.row.cells.length>1,
    'menu-highlightable': parent.parent.draggingCellIndex === undefined && parent.parent.draggingRowIndex === undefined}"
     class="tile is-child box cell">
    <div  *ngIf="cells.length>1" class="border" (mousedown)="onMouseDown($event, -1)" >
        <i class="fa-solid fa-grip-vertical"></i>
    </div>
    <div (dragover)="onDragOver($event)"
         (dragenter)="onDragEnter($event)"
         (dragstart)="onDragStart($event)"
         (dragleave)="onDragLeave()"
         (dragend)="onDragEnd()"
         [draggable]="parent.row.cells.length>1" class="content">
        <p  class="disable-text-selection">{{cell.content}}</p>
    </div>
    <div  *ngIf="cells.length>1" class="border" (mousedown)="onMouseDown($event, 1)" >
        <i class="fa-solid fa-grip-vertical"></i>
    </div>
    <div class="menu">
        <div class="navbar-menu">
            <div class="navbar-start">
                <button class="button is-small navbar-item">
                    <span class="icon">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                </button> 
            </div>
            <div class="navbar-end">
                <button class="button is-small navbar-item" [disabled]="cells.length<2" (click)="deleted.emit()">
                    <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                    </span>
                </button> 
                <button class="button is-small navbar-item" [disabled]="cells.length>5" (click)="added.emit()">
                    <span class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>


